/* Regular */
@font-face {
	font-family:'Wuerth';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbook_webfont_1.eot');
	src:url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbook_webfont_1.eot?#iefix') format("embedded-opentype"),
	url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbook_webfont1_1.svg') format("svg"),
	url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbook_webfont3_2.woff2') format("woff2"),
	url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbook_webfont3_1.woff') format("woff"),
	url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbook_webfont2_1.ttf') format("truetype");
}

/* Bold */
@font-face {
	font-family:'Wuerth';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbold_webfont_1.eot');
	src:url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbold_webfont_1.eot?#iefix') format("embedded-opentype"),
	url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbold_webfont1_1.svg') format("svg"),
	url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbold_webfont3_2.woff2') format("woff2"),
	url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbold_webfont3_1.woff') format("woff"),
	url('https://www.wuerth.de/web/media/system/layout_wl2/css_wl2/wuerth_webfont_wl2/wuerth_icon_font/fonts/wuerthbold_webfont2_1.ttf') format("truetype");
}
